/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
@import "./normalize.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.getstartedpage {
  position: relative;
  img {
    height: 80vh;
    max-width: 100%;
    object-fit: cover;
  }
}

.signout {
  position: fixed;
  border: none;
  border-radius: 10px;
  background: blue;
  padding: 5px;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 70;
  font-weight: 600;
}

.loginpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;

  button {
    background: green;
    border: none;
    border-radius: 15px;
    width: 70vw;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 500;
  }
  h1 {
    font-size: 250%;
    font-weight: 800;
  }
}
.header {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 17vh;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200%;
    font-weight: 500;
    height: 70%;
  }
  .scrollheader {
    display: flex;

    height: 40%;
    .scroller {
      display: flex;
      overflow: scroll;
      width: 75%;
      scroll-behavior: smooth;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        font-weight: 600;
      }
      .selected {
        border-bottom: 4px solid #254da8;
      }
      .starred {
        font-size: 110%;
      }
    }
    .newlist {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3px;
      font-weight: 600;
      font-size: 110%;
      width: 25%;
    }
  }
}

.todoitem {
  display: grid;
  grid-template-columns: 0.7fr 3.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 2px;
  width: 90vw;
  height: 12vh;
  margin: 10px 4px 10px 5px;

  .completed {
    grid-column: 1/2;
    grid-row: 1/4;
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    background: transparent;
  }
  .title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 105%;
    font-weight: 600;
  }
  .detail {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 90%;
  }
  .date {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-top: 4px;
    height: max-content;
    div {
      border: 2px solid grey;
      border-radius: 10px;
      width: 25%;
      padding: 3px;
      text-align: center;
      font-size: 90%;
      font-weight: 600;
    }
  }
  .star {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/4;
    max-height: 100%;
  }
}

.createlistmodal {
  display: flex;
  flex-direction: column;
  background: lightgrey;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 8vh;
    [type="submit"] {
      border: none;
      background: transparent;
      font-size: 100%;
      color: blue;
      &:disabled {
        color: #6e6f70;
      }
    }
    [type="button"] {
      border: none;
      background: transparent;
      font-size: 180%;
      color: grey;
    }
    .title {
      margin-left: 10px;
      margin-right: 80px;
      font-size: 170%;
    }
  }
  input {
    background: white;
    min-height: 3vh;
    width: 100%;
    border-color: #767d7f;
    border-left: none;
    border-right: none;
    &:focus {
border-color: #82c7ff;
    border-left: none;
    border-right: none;
    }
    &:valid {
border-color: green;
    }
  }
}

#modal {
  position: relative;
}
